@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #fcf6f6;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* إخفاء شريط التمرير في متصفحات WebKit */
}

.scrollbar-hide {
    scrollbar-width: none; /* إخفاء شريط التمرير في متصفحات Firefox */
}
.cardImg{
padding: 15px;
height:400px;
background-color: #fff;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border-radius: 10px;

}
.load-more-button {
    display: block;
    margin: 16px auto;
    padding: 8px 16px;
    background-color: #ec4646;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
  }
  
  .load-more-button:hover {
    background-color: #e92727;
  }
  